# for and while loops 
for - step based loop
for i in range(10);
print(i)
  - iterating over a sequence (list ,tule , string)
   - iterating over a loop
## while - condition based loop
  i = 0 
  while i<10:
  print(i)
  i+=1
  - used for 
    - iterating until a condition is met
    -  iterating until a condition is no longer met
    -   iterating forever(if you don't break out of it)

In [2]:
movies = ['shrek','kungfu panda',
          'how to train your dragon','ice age','mirjapur','adipurus','shershah',
          'the jungle book','alladin','the little prince']

In [5]:
print(f'total movies={len (movies)}')

total movies=10

In [4]:
for movie in movies:
    print(movie)

shrek
kungfu panda
how to train your dragon
ice age
mirjapur
adipurus
shershah
the jungle book
alladin
the little prince

In [6]:
for movie in movies:
    print(f'{movie:30} {len(movie)}')

shrek                          5
kungfu panda                   12
how to train your dragon       24
ice age                        7
mirjapur                       8
adipurus                       8
shershah                       8
the jungle book                15
alladin                        7
the little prince              17

In [7]:
nums = [32,56,23,56,12,12,67,56,7,2]
for i in nums:
    print(i,i**2)

32 1024
56 3136
23 529
56 3136
12 144
12 144
67 4489
56 3136
7 49
2 4

In [8]:
for i in nums:
    if i % 2 == 0:
        print(i,i**2)

32 1024
56 3136
56 3136
12 144
12 144
56 3136
2 4

In [9]:
for i in nums:
    if i % 2!= 0:
        print(i,i**2)

23 529
67 4489
7 49

In [10]:
sum(nums)

323

In [14]:
total_evens = 0
for i in nums:
    if i % 2 == 0:
      total_evens += i
print (total_evens)

226

In [15]:
for i in nums:
    print(i)
    if i > 60:
        break

32
56
23
56
12
12
67

In [18]:
x=["apple",'potato','banana','','orange','mango']
for item in x:
    if len(item) == 0:
        break
    print(item)

apple
potato
banana

In [20]:
errors = 0
while True:
    username = input('enter username:')
    password = input('enter password:')
    if username == 'admin'and password == 'secret':
        print('login successful')
        break
    elif errors == 3:
        print('too many errors')
        break
    else:
        print('invalid username/password')
        errors += 1

login successful

In [1]:
x =[
    ['english',100],
    ['hindi',50],
    ['math',150],
    ['history',250],
    ['economic',200],
    
]

In [3]:
for item in x:
    for data in item:
        print(data)
    print('---')

english
100
---
hindi
50
---
math
150
---
history
250
---
economic
200
---